// ----------------------------------------------------------
// layout
// ----------------------------------------------------------

html, body {
  background-color: $redDark;
  padding: 0;
}
svg {
  width: 100%;
}
.body {
  background-color: $goldLight;
  padding: 1rem 0;
}
.container{
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.menu {
  margin: 0;
  padding: 0;

  li {
    list-style-type:none;
  }
}

// ----------------------------------------------------------
// Header and Navigation
// ----------------------------------------------------------

.mega-nav {
  background-color: $redDark;
  padding: 0;
  transition: max-height 400ms ease-in-out;
  overflow:hidden;
  max-height: 0;

  &.open{
    max-height: 400px;
    height: auto;
  }

  .menu {
    margin: 0;
    padding: 1rem 0 2rem 0;
  }

  .page_item {
    display: inline-block;
    margin: 0 4rem 0 0;
    text-transform: uppercase;
    a {
      &:link, &:visited{
        color: $redLight;
      }
      &:hover, &:active{
        color: $redLight;
        text-decoration: underline;
      }
      &.focused {
        &:link, &:visited{
          color: $white;
        }
      }
    }
  }
  .mega-nav-close {
    color: $redLight;
    cursor: pointer;
    float:right;
    font-size: 3rem;
  }
}

.wrapper {
  box-shadow: 0px 60px 160px 80px rgba(0,0,0,0.3);
}

.header{
  @include clearfix;
  position: relative;
}

.home-slider {
  position: relative;

  img{
    display: block;
    width: 100%;
  }
}
.controls{
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%;
}
.slider-control{
  opacity: .37;
  cursor: pointer;
  width: 24px;

  &:hover,&:active{
    opacity: 1;
    
    path{
      fill: $gold;
    }
  }
}
.slider-control-left{
  float: left;
  margin-left: 1rem;
}
.slider-control-right{
  float: right;
  margin-right: 1rem;
}

.home-slider-container {
  padding-top: 30px;
  position: absolute;
  top: 0;
  z-index: 3;
  left: 50%;
  margin-left: -44%;
}

.bxslider {
  position: relative;
  width: 100%;
  font-size: 0;
}
.bx-wrapper .bx-viewport {
  transform: none;
  background-color: $black;
}

.slide {
  top: -1px;
}

.header-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-logo-col {
  width: 137px;
  float: left;
}

.nav-triggers {
  float:right;
}

.hamburger {
  display: block;
  width: 70px;
  @include breakpoint($desktop){
    display: none;
  }
}

.main-nav {
  display: none;

  
  @include breakpoint($desktop){
    display: block;
    opacity: 0;
    transition: opacity 400ms ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  li{
    display: inline-block;
    list-style-type: none;

    @include breakpoint($desktop){
      margin-right: 4rem;
    }
  }
}
.main-nav-link {
  &:link, &:visited{
    color: $black;
  }
  &:hover, &:active{
    color: $black;
    text-decoration: underline;
  }
}

// ----------------------------------------------------------
// Site Footer
// ----------------------------------------------------------

.site-footer {
  background-color: $brown;
  @include clearfix;
  padding: 0 0 1rem;
}

.footer-left-col {
  padding: 1rem 0 0 0;
  @include breakpoint($tablet){
    @include span(6);
  }
}

.footer-right-col {
  padding: 1rem 0 0 0;
  @include breakpoint($tablet){
    @include span(last 6);
    padding: 3rem 0 0 0;
  }
}

.footer-logo {
  display: block;
  width: 81px;
}

.social-icons {
  text-align: right;
}

.social-icon {
  fill: $white;
  display: inline-block;
  margin: 0 0.4rem;
  width: 1.5rem;

  &:link, &:visited{
    color: $white;
  }
  &:hover, &:active{
    
  }
}

.copyright {
  color: $white;
  opacity: 0.32;
  @include breakpoint($tablet){
    text-align: right;
  }
}
