// ----------------------------------------------------------
// layout
// ----------------------------------------------------------

html, body {
  background-color: $redDark;
  padding: 0;
}
svg {
  width: 100%;
}
.body {
  background-color: $goldLight;
  padding: 1rem 0;
}
.container{
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.menu {
  margin: 0;
  padding: 0;

  li {
    list-style-type:none;
  }
}

// ----------------------------------------------------------
// Header and Navigation
// ----------------------------------------------------------

.mega-nav {
  background-color: $redDark;
  padding: 0;
  transition: max-height 400ms ease-in-out;
  overflow:hidden;
  max-height: 0;

  &.open{
    max-height: 800px;
    height: auto;
  }

  #menu-mega-nav {
    @include container;
    margin: 0;
    padding: 1rem 0 2rem 0;
  }

  .menu-item-has-children {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    a {
      &:link, &:visited{
        color: $redLight;
      }
      &:hover, &:active{
        color: $redLight;
        text-decoration: underline;
      }
    }
    &.focused {
      a {
        &:link, &:visited{
          color: $white;
        }
        &:hover, &:active{
          color: $white;
          text-decoration: underline;
        }
      }
    }
    
    @include breakpoint($tablet){
      @include span(5 of 10);

      &:nth-child(2n) {
        @include span(last 5 of 10);
      }
    }

    @include breakpoint($desktop){
      @include span(2 of 10);

      &:nth-child(2n) {
        @include span(2 of 10);
      }
      &:last-child {
        @include span(last 2 of 10);
      }
    }

  }
  .sub-menu {
    font-size: 1rem;
    text-transform: none;
    margin: 0;
    padding: 0;
  }
}
.mega-nav-close {
  color: $redLight;
  cursor: pointer;
  position: absolute;
  top:0;
  right:1.5rem;
  font-size: 3rem;
  width: 40px;
  opacity: 0.3;

  &:hover, &:active {
    opacity: 1;

    polygon{
      fill: $gold;
    }
  }

  @include breakpoint($desktop){
    right:0;
  }
}

.wrapper {
  box-shadow: 0px 60px 160px 80px rgba(0,0,0,0.3);
}

.header{
  overflow: hidden;
  @include clearfix;
  position: relative;
  background-color: $white;
  padding-top: 45px;

  @include breakpoint(860px){
    padding:0;
  }
}

.home-slider {
  position: relative;
  min-width: 650px;
  min-height: 353px;
  margin-left: -174px;

  img{
    display: block;
    width: 100%;
  }

  @include breakpoint(370px){
    min-width: 774px;
    min-height: 448px;
    margin-left: -134px;
  }

  @include breakpoint(513px){
    min-width: 924px;
    min-height: 535px;
    margin-left: -124px;
  }

  @include breakpoint(640px){
    min-width: 1004px;
    min-height: 581px;
    margin-left: -114px;
  }

  @include breakpoint(720px){
    min-width: 1174px;
    min-height: 679px;
    margin-left: -134px;
  }

  @include breakpoint(860px){
    min-width:0;
    min-height:0;
    margin-left:0;
  }

}
.controls{
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%;
}
.slider-control{
  opacity: .37;
  cursor: pointer;
  width: 24px;

  &:hover,&:active{
    opacity: 1;
    
    path{
      fill: $gold;
    }
  }
}
.slider-control-left{
  float: left;
  margin-left: 1rem;
}
.slider-control-right{
  float: right;
  margin-right: 1rem;
}

.home-slider-container {
  padding: 0.5rem 1.5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width:100%;
  max-width: 1200px;

  @include breakpoint(1200px){
    font-size: 1.125rem;
    padding: 2rem 1.5rem 0;
    width: 1200px;
    margin: 0 auto;
    margin-left: -600px;
    left: 50%;
  }
}

.bxslider {
  position: relative;
  width: 100%;
  font-size: 0;
}
.bx-wrapper .bx-viewport {
  transform: none;
  background-color: $black;
}

.slide {
  top: -1px;
}

.header-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-logo-col {
  width: 61px;
  float: left;
  margin-right: 2.5rem;

  @include breakpoint(370px){
    width: 91px;
  }
  @include breakpoint(513px){
    width: 104px;
  }

  @include breakpoint($desktop){
    width: 137px;
  }
}

.nav-triggers {
  float:right;

  @include breakpoint(860px){
    float:left;
  }
}

.hamburger {
  display: block;
  width: 35px;
  margin-top: 0.5rem;

  @include breakpoint(370px){
    width: 45px;
  }
  @include breakpoint(860px){
    display: none;
    
  }
  @include breakpoint($desktop){

  }
}

#menu-top-nav {
  display: none;

  li{
    display: inline-block;
    list-style-type: none;

    
    @include breakpoint(860px){
      margin-right: 1rem;
    }

    @include breakpoint($desktop){
      margin-right: 4rem;
    }  
  }
  a {
    text-transform: uppercase;
    cursor: default;
    &:link, &:visited{
      color: $brown;
    }
    &:hover, &:active{
      color: $brown;
      text-decoration: underline;
    }
  }
  &.visible {
    opacity: 1;

    a {
      cursor: pointer;
    }
  }
  
  @include breakpoint(860px){
    display: block;
    opacity: 0;
    overflow: hidden;
    transition: opacity 400ms ease-in-out;
  }
}

// ----------------------------------------------------------
// Site Footer
// ----------------------------------------------------------

.site-footer {
  background-color: $brown;
  @include clearfix;
  padding: 0 0 1rem;
}

.footer-left-col {
  padding: 1rem 0 0 0;
  @include breakpoint($tablet){
    @include span(6);
  }
}

.footer-right-col {
  padding: 1rem 0 0 0;
  @include breakpoint($tablet){
    @include span(last 6);
    padding: 3rem 0 0 0;
  }
}

.footer-logo {
  display: block;
  width: 81px;
}

.social-icons {
  text-align: right;
}

.social-icon {
  fill: $white;
  display: inline-block;
  margin: 0 0.4rem;
  width: 1.5rem;

  &:link, &:visited{
    color: $white;
  }
  &:hover, &:active{
    
  }
}

.copyright {
  color: $white;
  opacity: 0.32;
  @include breakpoint($tablet){
    text-align: right;
  }
}
