html {
  font-size: $baseFontSize + px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: $text;
}

h1 {
  margin: 0 0 0.4em;
  font-size: 3.75rem;
  color: $brown;
  line-height: 1.24em;
}

h2 {
  font-size: 2.25rem;
  margin: 0 0 1.24rem;
  color: $brown;
  line-height: 1.24em;
}

h3 {
  font-size: 1.9rem;
  color: $brown;
  margin: 0 0 1.24rem;
  line-height: 1.24em;
}

h4 {
  color: $brown;
  margin: 0 0 1.24rem;
  line-height: 1.24em;
}

h5 {
  color: $brown;
  margin: 0 0 1.24rem;
  line-height: 1.24em;
}

h6 {
  color: $brown;
  margin: 0 0 1.24rem;
  line-height: 1.24em;
}

ul,
ol {
  margin: 0 0 1.24rem;
}

li {}

#{$a-tags} { // see variables partial for definitions
  color: $link;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $linkHover;
}

p {
  margin: 0 0 0.84em;
}

small {}

strong {}

sup {}

hr {}

// ----------------------------------------------------------
// special use classes
// ----------------------------------------------------------




// ----------------------------------------------------------
// nexa webfonts
// ----------------------------------------------------------

